[Unit]
Description=Jihou Service

[Service]
WorkingDirectory=%h/jihou
ExecStart=mpv --quiet sound.wav --volume=100
Type=oneshot

[Install]
WantedBy=default.target

