/*
/.**

!/.bashrc
!/.bash_logout
!/.bash_profile
!/.gitignore

!/JQuake/
!/JQuake/**

!/.config/
!/.config/openbox/
!/.config/openbox/**
!/.config/systemd/
!/.config/systemd/**

/.config/systemd/user/*.wants/
