[Desktop Entry]
Type=Application
Name=Firefox
Exec=firefox %u
Icon=firefox
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=firefox
