[Unit]
Description=Collect eqwatch status for Zabbix
After=network-online.target nss-lookup.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/eqwatch-status -o /run/eqwatch-status.json
LogLevelMax=notice
# これがないと stderr も LogLevelMax で捨てられる
SyslogLevel=warning
