[Unit]
Description=Collect eqwatch status for Zabbix
After=network-online.target nss-lookup.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/eqwatch-status -o /run/eqwatch-status.json
LogLevelMax=notice
# 無いと stderr も LogLevelMax で消える
SyslogLevel=warning
