[Unit]
Description=netconsole to Graylog
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/netconsole-setup

[Install]
WantedBy=multi-user.target
