[Unit]
Description=Restart JQuake when DM-D.S.S is disconnected

[Service]
Type=oneshot
Environment=PATH=%h/.local/bin:/usr/bin
ExecStart=%h/.local/bin/jquake-dmdata-check
LogLevelMax=notice
# これがないと stdout も LogLevelMax で捨てられる
SyslogLevel=warning
