[Unit]
Description=JQuake
After=eqwatch-session.target
PartOf=eqwatch-session.target
StartLimitIntervalSec=0

[Service]
ExecStartPre=/usr/bin/sh -c 'until resolvectl query dmdata.jp > /dev/null 2>&1; do sleep 1; done'
ExecStart=%h/JQuake/JQuake.sh
Restart=always
RestartSec=10

[Install]
WantedBy=eqwatch-session.target
