[Unit]
Description=Check DM-D.S.S connection every minute

[Timer]
OnStartupSec=1min
OnUnitActiveSec=1min
AccuracySec=5s

[Install]
WantedBy=timers.target
