[Unit]
Description=Remote desktop service (VNC)
After=eqwatch-session.target
PartOf=eqwatch-session.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/bin/x0vncserver -display $DISPLAY -rfbport 5900 -rfbauth %E/tigervnc/passwd
Restart=always
RestartSec=5

[Install]
WantedBy=eqwatch-session.target
